{% assign publications = site.publications | sort: "date" | reverse %}
<ul class="publication-list">
  {% for pub in publications %}
    <li class="publication-list__item">
      <span class="publication-list__title">
        {% if pub.paperurl %}<a href="{{ pub.paperurl }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}
      </span>
      <span class="publication-list__authors">{{ pub.authors | replace: "Yash Ranjan", '<span class="publication-list__self">Yash Ranjan</span>' }}</span>
      <span class="publication-list__venue">{{ pub.venue }}, {{ pub.date | default: "1900-01-01" | date: "%Y" }}</span>
    </li>
  {% endfor %}
</ul>
