/* ==========================================================================
   PUBLICATION LIST
   ========================================================================== */

.publication-list {
  margin: 0 0 1.5em;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 1.25em;
    padding-left: 0;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  &__title {
    display: block;
    font-size: $type-size-5;
    font-weight: bold;
  }

  &__authors {
    display: block;
    color: var(--global-text-color);
  }

  &__self {
    font-weight: bold;
  }

  &__venue {
    display: block;
    font-style: italic;
    color: var(--global-text-color-light);
  }
}
